In [ ]:
# import all libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
dataset=pd.read_csv('/content/drive/MyDrive/diabetes.csv')

**understanding datasets using python**

In [ ]:
dataset.head()    #top 5

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
dataset.tail()  #bottom 5

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [ ]:
dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
dataset.size

6912

In [ ]:
dataset.shape

(768, 9)

In [ ]:
dataset.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [ ]:
dataset.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

**Analysing the 'target' variable**

In [ ]:
dataset["Age"].unique()

array([50, 31, 32, 21, 33, 30, 26, 29, 53, 54, 34, 57, 59, 51, 27, 41, 43,
       22, 38, 60, 28, 45, 35, 46, 56, 37, 48, 40, 25, 24, 58, 42, 44, 39,
       36, 23, 61, 69, 62, 55, 65, 47, 52, 66, 49, 63, 67, 72, 81, 64, 70,
       68])

In [ ]:
dataset["Age"].describe()

count    768.000000
mean      33.240885
std       11.760232
min       21.000000
25%       24.000000
50%       29.000000
75%       41.000000
max       81.000000
Name: Age, dtype: float64

In [ ]:
print(dataset.corr()["BloodPressure"].abs().sort_values(ascending=False))

BloodPressure               1.000000
BMI                         0.281805
Age                         0.239528
SkinThickness               0.207371
Glucose                     0.152590
Pregnancies                 0.141282
Insulin                     0.088933
Outcome                     0.065068
DiabetesPedigreeFunction    0.041265
Name: BloodPressure, dtype: float64

In [ ]:
dataset.isnull().values.any()

False

In [ ]:
num_obs = len(dataset)
num_true = len(dataset.loc[dataset['Outcome'] == 1])
num_false = len(dataset.loc[dataset['Outcome'] == 0])
print("Number of True cases:  {0} ({1:2.2f}%)".format(num_true, ((1.00 * num_true)/(1.0 * num_obs)) * 100))
print("Number of False cases: {0} ({1:2.2f}%)".format(num_false, (( 1.0 * num_false)/(1.0 * num_obs)) * 100))

Number of True cases:  268 (34.90%)
Number of False cases: 500 (65.10%)

**Train Test split, Spliting the data
70% for training, 30% for testing**

In [ ]:
from sklearn.model_selection import train_test_split

feature_col_names = ['Pregnancies', 'Glucose','BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']
predicted_class_names = ['Outcome']

X = dataset[feature_col_names].values     # predictor feature columns (8 X m)
y = dataset[predicted_class_names].values # predicted class (1=true, 0=false) column (1 X m)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42) 
                            # test_size = 0.3 is 30%, 42 is the answer to everything

In [ ]:
X_test.shape

(231, 8)

In [ ]:
y_test.shape

(231, 1)

In [ ]:
X_train.shape

(537, 8)

In [ ]:
y_train.shape

(537, 1)

**Model Fitting**

**SVM model**

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:

from sklearn.svm import SVC
# Create a RandomForestClassifier object
svm_model = SVC(kernel='linear', C=1, random_state=42)

svm_model.fit(X_train, y_train.ravel())

Y_predict = svm_model.predict(X_test)

In [ ]:
Y_predict.shape

(231,)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,Y_predict))

              precision    recall  f1-score   support

           0       0.80      0.81      0.81       151
           1       0.63      0.62      0.63        80

    accuracy                           0.74       231
   macro avg       0.72      0.72      0.72       231
weighted avg       0.74      0.74      0.74       231